numpy 

numpy_indexed 	

music21==5.7.0

matlab 

plotly 

matplotlib 

pyqt6 

pyopengl 

pyface==7.0.1

wxpython==4.2.0 

vtk==9.0.1   
 
traits 

traitsui==7.0.1 

mayavi 
mlab 

open3d-python 

pillow 

opencv-python 

pygame 

scipy 

sympy 

httplib2==0.22.0

jinja2==3.0.3

magenta

mido 

rtmidi

pyo

popsicle 

blender 

pyinstaller
flask

requests

docutils 
pygments 
pypiwin32


openai
-e .


kivy
kivymd==0.104.2
kivy.deps.sdl2 
kivy.deps.glew
kivy.deps.gstreamer
kivy.deps.angle
kivy_examples



