numpy 

numpy_indexed 	

music21==5.7.0

matlab 

plotly 

matplotlib 

pyqt6 

pyopengl 

pyface==7.0.1

wxpython 

vtk==9.0.1   
 
traits 

traitsui==7.0.1 

mayavi 
mlab 

open3d-python 

pillow 

opencv-python 

pygame 

scipy 

sympy 

mido 

pyo

popsicle 

blender 

pyinstaller
flask

requests

docutils 
pygments 
pypiwin32

kivy
kivymd==0.104.2
kivy.deps.sdl2 
kivy.deps.glew
kivy.deps.gstreamer
kivy.deps.angle
kivy_examples
